@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Sono:wght@300;400;500&family=Source+Code+Pro:ital,wght@1,200;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
}
header {
  position: sticky;
  top: 0;
  z-index: 1;
}
body {
  font-family: "Edu NSW ACT Foundation";
  background: linear-gradient(white, grey);
  background-size: cover;
  background-attachment: fixed;
}

.hero-section {
  /* background-image: url("/Caffe-Z/images/hero.jpg"); */
  position: relative;
}
.intro {
  margin-top: 10rem;
  margin-left: 10rem;
  width: 40rem;
}
.welcome {
  font-size: 70px;
}
button {
  padding: 5px;
  margin: 5px;
  background-color: white;
  color: white;
  box-shadow: 1px 1px 0 1px;
}
.first {
  background-color: rgb(31, 33, 49);
  color: white;
  font-size: larger;
}

.second {
  background-color: transparent;
  text-decoration: underline;
  border: 0;
  box-shadow: 0 0 0 0;
  font-size: larger;
  margin-left: 20px;
  color: rgb(31, 33, 49);
}
button:hover {
  scale: 1.2;
  transition-duration: 1s;
  background-color: rgb(31, 33, 49);
  color: white;
}

.image-border {
  border: 5px solid transparent;
  border-image: linear-gradient(black, grey, white) 1;
  position: absolute;
  right: 10rem;
  top: 12rem;
}

.secondary {
  background-color: rgb(45, 49, 53);
}
.navbar {
  background-color: rgb(41, 44, 48);
}
.nav-link {
  color: black;
  color: white;
}
h5 {
  color: black;
}
footer {
  position: relative;
  display: grid;
  height: 4.1rem;
  background-color: black;
  justify-content: center;
  box-shadow: 0px 0px 5px 0px;
}
footer svg {
  display: grid;
  cursor: pointer;
  justify-self: center;
  margin-top: 7px;
}
footer a {
  display: grid;
  justify-self: center;
  margin: 5px;
  text-decoration: none;
  color: white;
}
